* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

.header {
    margin: 0%;
    padding: 0%;
}

nav {
    background: rgb(243, 240, 240);
    padding: 0.5% 0% 0.5% 0%;
    position: sticky;
}

.header .name {
    display: flex;
    flex-direction: row;
}

.name>img {
    width: 5%;
}

.name>a {
    margin: 0.5%;
    background-color: rgb(179, 180, 180);
    border-radius: 50%;
    padding: 0.8%;
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.name>a:hover {
    background-color: rgb(144, 148, 148);
    color: rgb(24, 10, 54);
}

.logo {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    color: white;
    background: url(15.png);
    background-position: top;
    background-attachment: fixed;
}

.logo img {
    width: 30%;
    margin: 20% 0% 0% 0%;
}

.logo>p {
    /* color: rgb(131, 79, 79); */
    font-size: 2rem;
    margin: 0% 17% 40% 17%;
}

.main1 {
    display: grid;
    grid-template-columns: 50% 50%;
}

.main1>div {
    /* border: 2px solid red; */
    justify-content: center;
    text-align: center;
    margin: 5% 5%;
    display: inline-block;
    background: url(187161.jpg);
    border-radius: 20px;
}

.main1>div>img {
    width: 20%;
    margin: 10%;
}

.main1>div>p {
    font-size: 1.6rem;
    overflow: visible;
}

.main2 {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    margin: 2% 2% 2% 2%;
    padding: 0% 0% 0% 0%;
    justify-content: center;
    align-items: center;
}

.main2>img {
    width: 25%;
    margin: 2% 2% 2% 35%;
    align-items: center;
    cursor: pointer;
}

footer {
    background-color: black;
    color: white;
    font-style: italic;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding: 1% 1%;
    text-align: center;
}

footer>p {
    font-size: 20px;
    display: block;
}

@media screen and (max-width:700px) {
    .header .name {
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }
    .name>a {
        margin: 0%;
        border-bottom: 1px solid black;
    }
    .logo>p {
        font-size: 1.5rem;
    }
    .name>a {
        border-radius: 0%;
    }
    .main1 {
        grid-template-columns: 100%;
    }
    .main1>div {
        margin: 1%;
    }
    .main1>div>p {
        font-size: 0.8rem;
    }
    .main2 {
        grid-template-columns: 50% 50%;
    }
    .main2>img {
        margin-bottom: 7%;
    }
}

@media screen and (max-width:252px) {
    footer>p {
        font-size: 5px;
    }
}